# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Mining.iml
# Datasource local storage ignored files
/../../../../../../../:\Kieran\Mining\Mining\.idea\.idea.Mining\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
